
@{
    ViewBag.Title = "Configurações";
}

<h2>Configurações</h2>

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Senha">Senha</a></li>
    <li><a data-toggle="tab" href="#Endereco">Endereço</a></li>
</ul>

<div class="tab-content">
    <!-- Senha -->
    <div class="tab-pane active" id="Senha">
        <div class="panel panel-default">
            <br />
            <div class="form-horizontal">
                @using (Html.BeginForm("", "", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Senha atual", null, new { @class = "control-label col-lg-2 col-md-2" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBox("Senha", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Nova senha", null, new { @class = "control-label col-lg-2 col-md-2" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBox("NovaSenha", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Confirmar nova senha", null, new { @class = "control-label col-lg-2 col-md-2" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBox("ConfirmarNovaSenha", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salvar senha" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Endereço -->
    <div class="tab-pane" id="Endereco">
        <div class="panel panel-default">
            <br />
            <div class="form-horizontal">
                @using (Html.BeginForm("", "", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Novo Endereço", null, new { @class = "control-label col-lg-2 col-md-2" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBox("Endereco", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}