
@{
    ViewBag.Title = "Administração";
}

<style>
    h4 {
        margin-left: 15px;
        margin-top: 15px;
    }

    button {
        margin-left: 15px;
    }
</style>

<h2>Administração</h2>

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Dashboard">Dashboard</a></li>
    <li><a id="navTabBebida" data-toggle="tab" href="#Bebidas">Bebidas</a></li>
    <li><a data-toggle="tab" href="#Clientes">Clientes</a></li>
    <li><a data-toggle="tab" href="#Pedidos">Pedidos</a></li>
    <li><a data-toggle="tab" href="#Cupons">Cupons</a></li>
    <li><a id="navTabTroca" data-toggle="tab" href="#Trocas">Trocas</a></li>
</ul>

<div class="tab-content">
    <!-- Dashboard -->
    <div class="tab-pane active" id="Dashboard">
        <div class="panel panel-default" style="display: flow-root;">
            <h4>Info Gráfico</h4>

            <hr />

            <div class="col-lg-6">
                <h5><strong>Pedidos no ano</strong></h5>
                <hr />
                <canvas id="PedidosAno" max-width="50" max-height="50"></canvas>
            </div>

            <div class="col-lg-6">
                <h5><strong>Bebidas mais compradas</strong></h5>
                <hr />
                <canvas id="BebidasMaisCompradas" max-width="50" max-height="50"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

        <script>
            var ctx = document.getElementById('BebidasMaisCompradas');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Água', 'Refrigerante', 'Suco'],
                    datasets: [{
                        label: 'Total',
                        data: [22, 46, 12],
                        backgroundColor: [
                            'rgba(4, 16, 215, 0.2)',
                            'rgba(250, 12, 23, 0.2)',
                            'rgba(44, 162, 135, 0.2)',
                        ],
                        borderColor: [
                            'rgba(4, 16, 215, 0.2)',
                            'rgba(250, 12, 23, 0.2)',
                            'rgba(44, 162, 135, 0.2)',
                        ],
                        borderWidth: 2
                    }]
                },
            });
        </script>

        <script>
            var ctx = document.getElementById('PedidosAno').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    datasets: [{
                        label: 'Total',
                        data: [10, 15, 53, 31, 12, 3, 41, 22, 46, 12, 31, 45],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(34, 162, 235, 0.2)',
                            'rgba(153, 162, 255, 0.2)',
                            'rgba(44, 162, 135, 0.2)',
                            'rgba(103, 92, 205, 0.2)',
                            'rgba(4, 16, 215, 0.2)',
                            'rgba(53, 10, 55, 0.2)',
                            'rgba(250, 12, 23, 0.2)',
                            'rgba(200, 102, 205, 0.2)',
                            'rgba(90, 62, 185, 0.2)',
                            'rgba(133, 112, 285, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 0.1)',
                            'rgba(153, 102, 255, 0.1)',
                            'rgba(34, 162, 235, 0.1)',
                            'rgba(153, 162, 255, 0.1)',
                            'rgba(44, 162, 135, 0.1)',
                            'rgba(103, 92, 205, 0.1)',
                            'rgba(4, 16, 215, 0.1)',
                            'rgba(53, 10, 55, 0.1)',
                            'rgba(250, 12, 23, 0.1)',
                            'rgba(200, 102, 205, 0.1)',
                            'rgba(90, 62, 185, 0.1)',
                            'rgba(133, 112, 285, 0.1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    </div>

    <!-- Bebidas -->
    <div class="tab-pane" id="Bebidas">
        <div class="panel panel-default">
            <h4>Bebidas</h4>
            <hr />

            <a id="btnNovaBebida" style="margin-left:15px" href="/Bebidas/Create/" class="btn btn-primary">Nova Bebida</a>

            <hr />

            @Html.Action("PvBebida", "Bebidas")
        </div>
    </div>

    <!-- Clientes -->
    <div class="tab-pane" id="Clientes">
        <div class="panel panel-default">
            <h4>Clientes</h4>
            <hr />
            @Html.Action("PvCliente", "Clientes")
        </div>
    </div>

    <!-- Pedidos -->
    <div class="tab-pane" id="Pedidos">
        <div class="panel panel-default">
            <h4>Pedidos</h4>
            <hr />
            @Html.Action("PvPedido", "Pedidos")
        </div>
    </div>

    <!-- Cupons -->
    <div class="tab-pane" id="Cupons">
        <div class="panel panel-default">
            <h4>Cupons</h4>
            <hr />
            <a style="margin-left:15px" href="/Cupons/Create/" class="btn btn-primary">Novo Cupom</a>
            <hr />
            @Html.Action("PvCupom", "Cupons")
        </div>
    </div>

    <!-- Trocas -->
    <div class="tab-pane" id="Trocas">
        <div class="panel panel-default">
            <h4>Solicitações de Troca</h4>
            <hr />

            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <tr>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Pedido
                    </th>
                    <th>
                        Motivo
                    </th>
                    <th>
                        Data Solicitação
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        Cliente Teste
                    </td>
                    <td>
                        12345
                    </td>
                    <td>
                        O produto estava vencido
                    </td>
                    <td>
                        @DateTime.Now
                    </td>
                    <td align="center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="opcoesTrocaPedidos">
                                Opções <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a id="btnAprovar" class="btn btn-success" href="#" onclick="$('#modalAprovarTrocaPedidos').modal('show');">Aprovar</a></li>
                                <li><a id="btnReprovar" class="btn btn-danger" href="#" onclick="$('#modalReprovarTrocaPedidos').modal('show');">Reprovar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div id="modalAprovarTrocaPedidos" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success" style="display: flex;">
                <h3 class="modal-title">Deseja aprovar a troca desse pedido?</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Pedido</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            Cliente
                        </dt>
                        <dd>
                            Cliente Teste
                        </dd>

                        <dt>
                            Pedido
                        </dt>
                        <dd>
                            12345
                        </dd>

                        <dt>
                            Motivo
                        </dt>
                        <dd>
                            O produto estava vencido
                        </dd>

                        <dt>
                            Data Solicitação
                        </dt>
                        <dd>
                            @DateTime.Now
                        </dd>
                    </dl>
                </div>

                <hr />

                <div>
                    <h5>
                        <label class="control-label">Selecione um cupom para a troca: <br /> (o valor do pedido será convertido no valor do cupom para o cliente)</label>
                    </h5>
                    <select class="form-control" id="selectCupomTroca">
                        <option value="Cupom1">Cupom1</option>
                        <option value="Cupom2">Cupom2</option>
                        <option value="Cupom3">Cupom3</option>
                        <option value="Cupom4">Cupom4</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAprovarTroca" type="button" class="btn btn-success" data-dismiss="modal">Aprovar Troca</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalReprovarTrocaPedidos" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger" style="display: flex;">
                <h3 class="modal-title">Deseja reprovar a troca desse pedido?</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Pedido</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            Cliente
                        </dt>
                        <dd>
                            Cliente Teste
                        </dd>

                        <dt>
                            Pedido
                        </dt>
                        <dd>
                            12345
                        </dd>

                        <dt>
                            Motivo
                        </dt>
                        <dd>
                            O produto estava vencido
                        </dd>

                        <dt>
                            Data Solicitação
                        </dt>
                        <dd>
                            @DateTime.Now
                        </dd>
                    </dl>
                </div>

                <hr />

                <div>
                    <h5>
                        <label class="control-label">Informe o motivo da reprovação:</label>
                    </h5>
                    <textarea class="form-control" name="MotivoReprovacao" cols="20" rows="5" placeholder="Digite o motivo da reprovação"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnReprovarTroca" type="button" class="btn btn-danger" data-dismiss="modal">Reprovar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
            @Html.Action("PvSolicitacoesTroca", "SolicitacoesTroca")
        </div>
    </div>
</div>