
@{
    ViewBag.Title = "Administração";

    List<SelectListItem> listaCupons = (List<SelectListItem>)ViewBag.listaCupons;
}

<style>
    h4 {
        margin-left: 15px;
        margin-top: 15px;
    }

    button {
        margin-left: 15px;
    }
</style>

<h2>Administração</h2>

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Dashboard">Dashboard</a></li>
    <li><a id="navTabBebida" data-toggle="tab" href="#Bebidas">Bebidas</a></li>
    <li><a data-toggle="tab" href="#Clientes">Clientes</a></li>
    <li><a data-toggle="tab" href="#Pedidos">Pedidos</a></li>
    <li><a data-toggle="tab" href="#Cupons">Cupons</a></li>
    <li><a id="navTabTroca" data-toggle="tab" href="#Trocas">Trocas</a></li>
    <li><a id="navTabEstoque" data-toggle="tab" href="#Estoque">Estoque</a></li>
    <li><a id="navTabEstoque" data-toggle="tab" href="#Precificacao">Precificação</a></li>
    <li><a id="navTabEstoque" data-toggle="tab" href="#TipoBebida">Tipos de Bebida</a></li>
</ul>

<div class="tab-content">
    <!-- Dashboard -->
    <div class="tab-pane active" id="Dashboard">
        <div class="panel panel-default" style="display: flow-root;">
            <h4>Info Gráfico</h4>

            <hr />

            <div class="form-group">
                <div class="col-lg-12">
                    <label class="control-label">Início</label>
                    <input id="Inicio" name="Inicio" class="form-control" type="date" />
                </div>

                <div class="col-lg-12">
                    <label class="control-label">Fim</label>
                    <input id="Fim" name="Fim" class="form-control" type="date" />
                </div>

                <button id="btnPesquisar" type="button" class="btn btn-primary form-group" style="margin-top:15px">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Pesquisar</span>
                </button>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

            <script>
                $(document).ready(function () {
                    $("#btnPesquisar").click(function () {
                        $.ajax({
                            dataType: "html",
                            method: 'POST',
                            url: "/Dashboard/GetGraficoVendas/",
                            data: { 'inicio': $("#Inicio").val(), 'fim': $("#Fim").val() },
                            complete: function (data) {
                                $("#divScriptGraficoVendas").html(data.responseText);
    
                            }
                        });

                        //$.ajax({
                        //    dataType: "html",
                        //    method: 'POST',
                        //    url: "/Dashboard/GetGraficoPizza/",
                        //    data: { 'inicio': $("#Inicio").val(), 'fim': $("#Fim").val() },
                        //    complete: function (data) {
                        //        $("#divScriptGraficoPizza").html(data.responseText);
                        //    }
                        //});
                    });
                });
            </script>

            <hr />

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

            <div class="col-lg-12">
                <div id="divScriptGraficoVendas">
                    @Html.Action("PvScriptGraficoVendas", "Dashboard")
                </div>
            </div>

            @*<div class="col-lg-6" id="divOutroGrafico">
                @Html.Action("PvScriptGraficoPizza", "Dashboard")
            </div>*@
        </div>
    </div>

    <!-- Bebidas -->
    <div class="tab-pane" id="Bebidas">
        <div class="panel panel-default">
            <h4>Bebidas</h4>
            <hr />

            <a id="btnNovaBebida" style="margin-left:15px" href="/Bebidas/Create/" class="btn btn-primary">Nova Bebida</a>

            <hr />

            @Html.Action("PvBebida", "Bebidas")
        </div>
    </div>

    <!-- Clientes -->
    <div class="tab-pane" id="Clientes">
        <div class="panel panel-default">
            <h4>Clientes</h4>
            <hr />
            @Html.Action("PvCliente", "Clientes")
        </div>
    </div>

    <!-- Pedidos -->
    <div class="tab-pane" id="Pedidos">
        <div class="panel panel-default">
            <h4>Pedidos</h4>
            <hr />
            @Html.Action("PvPedido", "Pedidos")
        </div>
    </div>

    <!-- Cupons -->
    <div class="tab-pane" id="Cupons">
        <div class="panel panel-default">
            <h4>Cupons</h4>
            <hr />
            <a style="margin-left:15px" href="/Cupons/Create/" class="btn btn-primary">Novo Cupom</a>
            <hr />
            @Html.Action("PvCupom", "Cupons")
        </div>
    </div>

    <!-- Trocas -->
    <div class="tab-pane" id="Trocas">
        <div class="panel panel-default">
            <h4>Solicitações de Troca</h4>
            <hr />

            @Html.Action("PvSolicitacoesTroca", "SolicitacoesTroca")

        </div>
    </div>

    <!--Estoque-->
    <div class="tab-pane" id="Estoque">
        <div class="panel panel-default">
            <h4>Estoque</h4>
            <hr />

            @Html.Action("PvEstoque", "Estoque")

        </div>
    </div>

    <!--Precificação-->
    <div class="tab-pane" id="Precificacao">
        <div class="panel panel-default">
            <h4>Precificação</h4>
            <hr />

            @Html.Action("PvGrupoPrecificacao", "Precificacao")

        </div>
    </div>

    <!--Tipos de Bebida-->
    <div class="tab-pane" id="TipoBebida">
        <div class="panel panel-default">
            <h4>Tipos de Bebida</h4>
            <hr />

            @Html.Action("PvTipoBebida", "TipoBebida")

        </div>
    </div>
</div>

<div id="modalAprovarTrocaPedidos" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success" style="display: flex;">
                <h3 class="modal-title">Deseja aprovar a troca desse pedido?</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Pedido</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            Cliente
                        </dt>
                        <dd id="ddDescClienteAp">

                        </dd>

                        <dt>
                            Pedido
                        </dt>
                        <dd id="ddIdPedidoAp">

                        </dd>

                        <dt>
                            Motivo
                        </dt>
                        <dd id="ddMotivoAp">

                        </dd>

                        <dt>
                            Data Solicitação
                        </dt>
                        <dd id="ddDataAp">

                        </dd>
                    </dl>
                </div>

                <hr />

                <div>
                    <h5>
                        <label class="control-label">Selecione um cupom para a troca: <br /> (o valor do pedido será convertido no valor do cupom para o cliente)</label>
                    </h5>
                    <form id="FormAprovar" method="post" action="/SolicitacoesTroca/Aprovar/">
                        <select class="form-control" id="selectCupomTroca" name="IdCupom">
                            @foreach (var item in listaCupons)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        </select>
                        <input type="hidden" id="hiddenIdSolicitacaoAp" name="IdSolicitacao" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAprovarTroca" type="button" class="btn btn-success" onclick="$('#FormAprovar').submit();">Aprovar Troca</button>
                <button type="button" id="cancelaAprova" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalReprovarTrocaPedidos" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger" style="display: flex;">
                <h3 class="modal-title">Deseja reprovar a troca desse pedido?</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Pedido</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            Cliente
                        </dt>
                        <dd id="ddDescClienteRep">

                        </dd>

                        <dt>
                            Pedido
                        </dt>
                        <dd id="ddIdPedidoRep">

                        </dd>

                        <dt>
                            Motivo
                        </dt>
                        <dd id="ddMotivoRep">

                        </dd>

                        <dt>
                            Data Solicitação
                        </dt>
                        <dd id="ddDataRep">

                        </dd>
                    </dl>
                </div>

                <hr />

                <div>
                    <h5>
                        <label class="control-label">Informe o motivo da reprovação:</label>
                    </h5>
                    <form action="/SolicitacoesTroca/Reprovar/" method="post" id="FormReprovar">
                        <input type="hidden" id="hiddenIdSolicitacaoRep" name="idSolicitacao" />
                        <textarea class="form-control" name="MotivoReprova" cols="20" rows="5" placeholder="Digite o motivo da reprovação"></textarea>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnReprovarTroca" type="button" class="btn btn-danger" onclick="$('#FormReprovar').submit();">Reprovar</button>
                <button type="button" id="cancelaReprova" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEntradaEstoque" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success" style="display: flex;">
                <h3 class="modal-title">Deseja dar entrada no estoque deste item?</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Estoque</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            Código
                        </dt>
                        <dd id="ddCodigoEnt">

                        </dd>

                        <dt>
                            Descrição
                        </dt>
                        <dd id="ddDescEnt">

                        </dd>

                        <dt>
                            Quantidade Atual
                        </dt>
                        <dd id="ddQtdeEnt">

                        </dd>

                    </dl>
                </div>

                <hr />

                <div>
                    <h5>
                        <label class="control-label">Insira a quantidade adicionada:</label>
                    </h5>
                    <form id="FormEntradaEstoque" method="post" action="/Estoque/Entrada/">
                        <input class="form-control" type="number" maxlength="6" name="Qtde" placeholder="Quantidade" required />
                        <input type="hidden" id="hiddenIdBebida" name="IdBebida" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSalvarEntrada" type="button" class="btn btn-success" onclick="$('#FormEntradaEstoque').submit();">Salvar Entrada</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalBaixaEstoque" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning" style="display: flex;">
                <h3 class="modal-title">Deseja dar baixa no estoque deste item?</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Estoque</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            Código
                        </dt>
                        <dd id="ddCodigoBaixa">

                        </dd>

                        <dt>
                            Descrição
                        </dt>
                        <dd id="ddDescBaixa">

                        </dd>

                        <dt>
                            Quantidade Atual
                        </dt>
                        <dd id="ddQtdeBaixa">

                        </dd>

                    </dl>
                </div>

                <hr />

                <div>
                    <h5>
                        <label class="control-label">Insira a quantidade reduzida:</label>
                    </h5>
                    <form id="FormBaixaEstoque" method="post" action="/Estoque/Baixa/">
                        <input class="form-control" type="number" maxlength="6" name="Qtde" placeholder="Quantidade" required />
                        <input type="hidden" id="hiddenIdBebidaBaixa" name="IdBebida" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSalvarBaixa" type="button" class="btn btn-warning" onclick="$('#FormBaixaEstoque').submit();">Salvar Baixa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalInativarBebida" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger" style="display: flex;">
                <h3 class="modal-title">Deseja inativar esta bebida?</h3>
            </div>
            <div class="modal-body">
                <div>
                    <h4>Bebida</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            Código
                        </dt>
                        <dd id="ddCodigoBebida">

                        </dd>

                        <dt>
                            Descrição
                        </dt>
                        <dd id="ddDescBebida">

                        </dd>

                    </dl>
                </div>

                <hr />

                <div>
                    <h5>
                        <label class="control-label">Informe o motivo da inativação:</label>
                    </h5>
                    <form action="/Bebidas/TrocarStatus/" method="post" id="FormInativarBebida">
                        <input type="hidden" id="hiddenIdBebidaInativar" name="id" />
                        <textarea class="form-control" name="motivo" cols="20" rows="5" placeholder="Digite o motivo da inativação"></textarea>
                        <input type="hidden" name="statusAtual" value="1" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnInativar" type="button" class="btn btn-danger" onclick="$('#FormInativarBebida').submit();">Inativar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>