@model DrinkIt.WebApp.Models.Bebida

@{
    ViewBag.Title = "Detalhes";
}

@using Newtonsoft.Json;

<h2>Detalhes da Bebida</h2>

<hr />

<div class="row">

    <div class="col-xs-6 col-md-6 col-lg-6" style="text-align:center">
        <img class="tamImg" src="~/Images/@Model.CaminhoImagem" width="390" height="390" />
    </div>

    <div class="col-xs-6 col-md-6 col-lg-6" style="text-align:left">

        <h2><b>@Model.Nome - @Model.Volume</b></h2>
        <h1>R$@Model.ValorVenda</h1>
        <br />
        <dl class="dl-horizontal" style="text-align:left">

            <dt>Código:</dt>
            <dd>@Model.Id</dd>

            <dt>Detalhes:</dt>
            <dd>@Model.Descricao</dd>

            <dt>Sabor:</dt>
            <dd>@Model.Sabor</dd>

            <dt>Tipo de Embalagem:</dt>
            <dd>@Model.Embalagem</dd>

            <dt>Marca:</dt>
            <dd>@Model.Marca</dd>

            <dt>Fabricante:</dt>
            <dd>@Model.Fabricante</dd>

            <dt>Volume:</dt>
            <dd>@Model.Volume</dd>

            <dt>Peso:</dt>
            <dd>@Model.Peso</dd>

            <dt>Alcoólico:</dt>
            @{
                if (Model.Alcoolico)
                {
                    <dd>Sim</dd>

                    <dt>Teor Alcoólico(%):</dt>
                    <dd>@Model.Teor</dd>
                }
                else
                {
                    <dd>Não</dd>
                }
            }

            <dt>Gaseificado:</dt>

            @{
                if (Model.Gaseificada)
                {
                    <dd>Sim</dd>
                }
                else
                {
                    <dd>Não</dd>
                }
            }

            <dt>Contém Glúten:</dt>
            @{
                if (Model.ContemGluten)
                {
                    <dd>Sim</dd>
                }
                else
                {
                    <dd>Não</dd>
                }
            }

            <dt>Conservação:</dt>
            <dd>@Model.DicaConservacao</dd>

        </dl>

        <br />

        <div align="center">
            @using (Html.BeginForm("AdicionarBebidaSessao", "Carrinho", FormMethod.Post))
            {
                <input type="hidden" name="bebida" value="@JsonConvert.SerializeObject(Model)" />

                <button type="submit" class="btn btn-success" id="btnAddCarrinho"><span class="glyphicon glyphicon-shopping-cart"></span>  Adicionar ao Carrinho</button>
            }
        </div>

        <hr />

        <div class="form-group">
            <div class="form-horizontal col-md-12" style="padding-right: 0;">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">Calcular frete:</label>
                    </div>
                    <div class="row col-md-6">
                        <input id="Cep" class="form-control" type="text" name="Cep" placeholder="00000-000" value="" maxlength="9" />
                        <label style="color:forestgreen" class="control-label">
                            <span id="ResultadoValorFrete"></span>
                        </label>
                    </div>
                    <form id="FormBebidaDetails" action="/Pedidos/SimularFreteDetails/" method="post">
                        <input type="hidden" id="bebidaFrete" name="bebidaFrete" value="@JsonConvert.SerializeObject(Model)" />
                        <button id="btnCalcularFrete" type="button" class="btn btn-default" style="float:right">Calcular</button>
                    </form>
                </div>
            </div>
        </div>

    </div>


</div>

<div>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/Bebidas/Details.js"></script>