@model DrinkIt.WebApp.Models.Bebida

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes da Bebida</h2>
<hr />


<div class="row">

    <div class="col-xs-6 col-md-6 col-lg-6" style="text-align:center">
        <img class="tamImg" src="@Model.CaminhoImagem" width="390" height="390" />
    </div>

    <div class="col-xs-6 col-md-6 col-lg-6" style="text-align:left">

        <h2><b>@Model.Nome - @Model.Volume</b></h2>
        <h1>R$@Model.Valor</h1>
        <br />
        <dl class="dl-horizontal" style="text-align:left">

            <dt>Código:</dt>
            <dd>@Model.Id</dd>

            <dt>Detalhes:</dt>
            <dd>@Model.Descricao</dd>

            <dt>Sabor:</dt>
            <dd>@Model.Sabor</dd>

            <dt>Tipo de Embalagem:</dt>
            <dd>@Model.Embalagem</dd>

            <dt>Marca:</dt>
            <dd>@Model.Marca</dd>

            <dt>Fabricante:</dt>
            <dd>@Model.Fabricante</dd>

            <dt>Volume:</dt>
            <dd>@Model.Volume</dd>

            <dt>Peso:</dt>
            <dd>@Model.Peso</dd>

            <dt>Alcoólico:</dt>
            @{
                if (Model.Alcoolico)
                {
                    <dd>Sim</dd>

                    <dt>Teor Alcoólico(%):</dt>
                    <dd>@Model.Teor</dd>
                }
                else
                {
                    <dd>Não</dd>
                }
            }

            <dt>Gaseificado:</dt>

            @{
                if (Model.Gaseificada)
                {
                    <dd>Sim</dd>
                }
                else
                {
                    <dd>Não</dd>
                }
            }

            <dt>Contém Glúten:</dt>
            @{ 
                if (Model.ContemGluten)
                {
                    <dd>Sim</dd>
                }
                else
                {
                    <dd>Não</dd>
                }
            }

            <dt>Conservação:</dt>
            <dd>@Model.DicaConservacao</dd>

        </dl>
        <br />

        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span>  Adicionar ao Carrinho</button>

    </div>


</div>

<!--
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id) - @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sabor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sabor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Embalagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Embalagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoBarras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoBarras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alcoolico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alcoolico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gaseificada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gaseificada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContemGluten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContemGluten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DicaConservacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DicaConservacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
-->

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
