@model IEnumerable<DrinkIt.WebApp.Models.HistoricoBebida>


@if (Model.Count() == 0)
{
    <h4 style="padding-left:1%">Nada encontrado no histórico.</h4>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Item")
            </th>
            <th>
                @Html.DisplayName("Data da Ação")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayName("Ação")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBebida) - @Html.DisplayFor(modelItem => item.DescBebida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtAcao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
            </tr>
        }

    </table>
}


