@model DrinkIt.WebApp.Models.Pedido

@using Newtonsoft.Json;

@{
    ViewBag.Title = "Checkout";

    int i = 0;
}

<h2>Checkout</h2>

<hr />

@Html.Hidden("pedido", JsonConvert.SerializeObject(Model))

<div id="divCheckout">
    @using (Html.BeginForm("FinalizarPedido", "Pedidos", FormMethod.Post, new { @id = "FormPedido" }))
    {
        <div class="panel panel-default">
            <div class="container" style="padding-left:0;padding-right:30px">

                <!--Endereço-->
                <div class="col-lg-4 col-md-4">
                    <div class="form-horizontal">
                        <h4>Endereço</h4>

                        <hr />

                        @Html.DropDownListFor(x => x.IdEnderecoEntrega, (List<SelectListItem>)ViewBag.Enderecos, new { @class = "form-control" })
                    </div>
                </div>

                <!-- Forma de pagamento -->
                <div class="col-lg-4 col-md-4">
                    <div class="form-horizontal">
                        <h4>Forma de Pagamento</h4>
                        <hr />

                        @Html.DropDownListFor(x => x.IdCartao1, (List<SelectListItem>)ViewBag.Cartoes, new { @class = "form-control" })

                        <div>
                            <label class="control-label">Valor no cartão: </label>
                            <input class="form-control money pay" id="valorCartao1" name="valorCartao1" value="@Model.Bebidas.Sum(x => x.Valor)" />
                        </div>

                        <hr />

                        <div class="form-group">
                            <label class="control-label" style="margin-right:15px;">Pagar com 2 Cartões: </label>
                            <input type="checkbox" id="Pagar2Cartoes" name="Pagar2Cartoes" />
                        </div>

                        <div id="divCartao2" style="display:none">
                            @Html.DropDownListFor(x => x.IdCartao2, (List<SelectListItem>)ViewBag.Cartoes, new { @class = "form-control" })

                            <div>
                                <label class="control-label">Valor no cartão 2: </label>
                                <input class="form-control money pay" id="valorCartao2" name="valorCartao2" value="0" />
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Revisão do pedido -->
                <div class="col-lg-4 col-md-4">
                    <div class="form-horizontal">
                        <h4>Revisão do pedido</h4>
                        <hr />

                        <div class="panel panel-default">
                            <div class="panel-heading">Resumo do pedido</div>
                            <div class="panel-body">
                                <dl>
                                    @foreach (var item in Model.Bebidas)
                                    {
                                        <dt>
                                            <input type="hidden" name="Bebidas[@i].Id" value="@item.Id" />
                                            <input type="hidden" name="Bebidas[@i].Valor" value="@item.Valor" />

                                            <label>@string.Concat(item.Nome, " ", item.Volume, " ", item.Valor.ToString("C"), " X", item.Quantidade)</label>
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => item.Descricao)
                                        </dd>

                                        i++;
                                    }
                                </dl>

                                <dl>
                                    <dt>
                                        Valor da compra:
                                    </dt>
                                    <dd>
                                        @Model.Bebidas.Sum(x => x.Valor * x.Quantidade)
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <label class="control-label">Desconto: </label>
                                    </dt>
                                    <dd>
                                        <span id="spanDesconto"></span>
                                        @Html.HiddenFor(x => x.Desconto)
                                    </dd>
                                </dl>

                                <dl>
                                    <dt>
                                        <label class="control-label">Frete: </label>
                                    </dt>
                                    <dd>
                                        <span id="spanFrete"></span>
                                        @Html.HiddenFor(x => x.Frete)
                                    </dd>
                                </dl>

                            </div>
                            <div class="panel-footer">
                                <label class="control-label">Valor Total: </label>
                                <label class="control-label" style="float:right">
                                    <span id="spanValorTotal">@Model.Bebidas.Sum(x => x.Valor * x.Quantidade).ToString("C")</span>
                                </label>
                                <input type="hidden" id="ValorTotal" name="ValorTotal" value="@Model.Bebidas.Sum(x => x.Valor * x.Quantidade)" />
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <label class="control-label">Calcular frete:</label>
                        <div style="display: inline-flex;">
                            <input id="Cep" class="form-control" type="text" name="Cep" placeholder="00000-000" value="" maxlength="9" />
                            <button id="btnCalcularFrete" type="button" class="btn btn-default" style="float:right">Calcular</button>
                        </div>
                        <label style="color:forestgreen" class="control-label">
                            <span id="ResultadoValorFrete"></span>
                        </label>
                    </div>

                    <hr />

                    <div class="form-group">
                        <label for="inputCupomDesconto">Cupom:</label>
                        <input type="text" class="form-control" id="inputCupom" placeholder="Insira um cupom válido">
                        @Html.HiddenFor(x => x.IdCupom)
                        <br />
                        <button id="btnValidarCupom" class="btn btn-info" type="button">Validar Cupom</button>
                        <span id="spanCupomValido" style="color:forestgreen;display:none;"><strong>Cupom válido !!!</strong></span>
                        <span id="spanCupomInvalido" style="color:darkred;display:none;"><strong>Cupom inválido !!!</strong></span>
                    </div>

                </div>
            </div>

            <hr />

            <div class="form-horizontal">
                <div class="form-group" align="right" style="margin-right:15px">
                    <button id="btnFinalizarPedido" class="btn btn-success" type="button">Finalizar Compra</button>
                </div>
            </div>
        </div>
    }
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/Pedidos/Script_Checkout_Pedidos.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>

<script>
    $('.money').mask('#.##0,00', { reverse: true });
</script>