@model DrinkIt.WebApp.Models.Pedido

@{
    ViewBag.Title = "Pedido - Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id do Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataUltimaAtualizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUltimaAtualizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoEntrega)
        </dt>

        <dd>
            @string.Concat(Model.EnderecoEntrega.Descricao, " - ", Model.EnderecoEntrega.Logradouro, ", ", Model.EnderecoEntrega.Numero,
           " ", Model.EnderecoEntrega.Complemento, " ", Model.EnderecoEntrega.Bairro, " ", Model.EnderecoEntrega.Cidade, " ",
           Model.EnderecoEntrega.Estado, " ", Model.EnderecoEntrega.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Model.ValorTotal.ToString("C")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>

        <dd>
            @Model.Desconto.ToString("C")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frete)
        </dt>

        <dd>
            @Model.Frete.ToString("C")
        </dd>

    </dl>

    <hr />

    <h4>Bebidas</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.Bebidas)
        {
            <dt>
                @Html.DisplayNameFor(model => item.Nome)
            </dt>

            <dd>
                @string.Concat(item.Nome, " ", item.Descricao, " ", item.Marca, " ", item.Sabor, " ", item.Peso)
            </dd>
        }

        <dt></dt>
        <dd><hr /></dd>

        <dt>
            Valor da Compra
        </dt>
        <dd>
            @Model.Bebidas.Sum(x => x.Valor)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", "Clientes")
</p>
