@model DrinkIt.WebApp.Models.Pedido

@{
    ViewBag.Title = "Pedido - Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id do Pedido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoEntrega)
        </dt>

        <dd>
            @string.Concat(Model.EnderecoEntrega.Descricao, " - ", Model.EnderecoEntrega.Logradouro, ", ", Model.EnderecoEntrega.Numero,
           " ", Model.EnderecoEntrega.Complemento, " ", Model.EnderecoEntrega.Bairro, " ", Model.EnderecoEntrega.Cidade, " ",
           Model.EnderecoEntrega.Estado, " ", Model.EnderecoEntrega.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Model.ValorTotal.ToString("C")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>

        <dd>
            @Model.Desconto.ToString("C")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frete)
        </dt>

        <dd>
            @Model.Frete.ToString("C")
        </dd>

    </dl>

    <hr />

    <h4>Bebidas</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.Bebidas)
        {
            <dt>
                @Html.DisplayNameFor(model => item.Nome)
            </dt>

            <dd>
                @string.Concat(item.Nome, " ", item.Descricao, " ", item.Marca, " ", item.Sabor, " ", item.Peso, " - X", item.Quantidade)
            </dd>
        }

        <dt></dt>
        <dd><hr /></dd>

        <dt>
            Valor da Compra
        </dt>
        <dd>
            @Model.Bebidas.Sum(x => x.Valor * x.Quantidade).ToString("C")
        </dd>
    </dl>

    <hr />

    <h4>Histórico de Status</h4>
    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.First().DataAtualizacao)
            </th>
        </tr>

        @foreach (var item in Model.Status.OrderByDescending(x => x.DataAtualizacao))
        {
            <tr>
                <td>
                    @string.Concat(item.Id,
                                    " - ",
                                    item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAtualizacao)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", "Clientes")
</p>
