@model IEnumerable<DrinkIt.WebApp.Models.Pedido>

@{ 
    Layout = null;
}

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td align="center">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Opções <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Detalhes", "Details", new { id = 1 }, new { @class = "btn-info" })</li>
                    <li>@Html.ActionLink("Solicitar Cupom de Troca", "TrocarStatus", new { id = 1 }, new { @class = "btn-primary" })</li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
