
@{
    ViewBag.Title = "Index";
}

@using DrinkIt.WebApp.Models;

<style>
    h4 {
        margin-left: 15px;
        margin-top: 15px;
    }

    button {
        margin-left: 15px;
    }
</style>

@{
    string nome = ((Usuario)Session["Usuario"])?.Login ?? "Usuário Teste";
}

<h2>Seja bem vindo, @nome</h2>

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Pedidos">Meus pedidos</a></li>
    <li><a data-toggle="tab" href="#Endereco">Meus Endereços</a></li>
    <li><a data-toggle="tab" href="#Cartoes">Meus Cartões</a></li>
    <li><a data-toggle="tab" href="#Cupons">Meus Cupons</a></li>
    <li><a data-toggle="tab" href="#Telefones">Meus Telefones</a></li>
    <li><a data-toggle="tab" href="#Senha">Senha</a></li>
</ul>

<div class="tab-content">
    <!-- Pedidos -->
    <div class="tab-pane active" id="Pedidos">
        <div class="panel panel-default">
            <h4>Meus Pedidos</h4>
            <hr />
            @Html.Action("PvPedido", "Pedidos")
        </div>
    </div>

    <!-- Endereços -->
    <div class="tab-pane" id="Endereco">
        <div class="panel panel-default">
            <h4>Meus Endereços</h4>
            <hr />
            @Html.ActionLink("Cadastrar novo", "Create", "Endereco", null, new { @class = "btn btn-primary", @target = "_blank", @style = "margin-left:15px" })
            <hr />
            @Html.Action("PvEnderecos", "Endereco")
        </div>
    </div>

    <!-- Cartões -->
    <div class="tab-pane" id="Cartoes">
        <div class="panel panel-default">
            <h4>Meus Cartões</h4>
            <hr />
            @Html.ActionLink("Cadastrar novo", "Create", "Cartao", null, new { @class = "btn btn-primary", @target = "_blank", @style = "margin-left:15px" })
            <hr />
            @Html.Action("PvCartoes", "Cartao")
        </div>
    </div>

    <!-- Cupons -->
    <div class="tab-pane" id="Cupons">
        <div class="panel panel-default">
            <h4>Meus Cupons</h4>
            <hr />
            @*@Html.Action("PvCupom", "Cupons")*@
        </div>
    </div>

    <!-- Telefones -->
    <div class="tab-pane" id="Telefones">
        <div class="panel panel-default">
            <h4>Meus Telefones</h4>
            <hr />
            @*@Html.Action("PvTelefones", "Telefones")*@
        </div>
    </div>

    <!-- Senha -->
    <div class="tab-pane" id="Senha">
        <div class="panel panel-default">
            <br />
            <div class="form-horizontal">
                @using (Html.BeginForm("TrocarSenha", "Usuarios", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.Label("Senha atual", null, new { @class = "control-label col-lg-2 col-md-2" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBox("SenhaAtual", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Nova senha", null, new { @class = "control-label col-lg-2 col-md-2" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBox("NovaSenha", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Confirmar nova senha", null, new { @class = "control-label col-lg-2 col-md-2" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBox("ConfirmarNovaSenha", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salvar senha" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>