
@{
    ViewBag.Title = "Index";
}

@using DrinkIt.WebApp.Models;

<style>
    h4 {
        margin-left: 15px;
        margin-top: 15px;
    }

    button {
        margin-left: 15px;
    }
</style>

@{
    string nome = ((Usuario)Session["Usuario"]).Login ?? "Usuário Teste";
}

<h2>Seja bem vindo, @nome</h2>

<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Pedidos">Meus pedidos</a></li>
    <li><a data-toggle="tab" href="#Endereco">Meus Endereços</a></li>
    <li><a data-toggle="tab" href="#Cartoes">Meus Cartões</a></li>
    <li><a data-toggle="tab" href="#Cupons">Meus Cupons</a></li>
</ul>

<div class="tab-content">
    <!-- Pedidos -->
    <div class="tab-pane active" id="Pedidos">
        <div class="panel panel-default">
            <h4>Meus Pedidos</h4>
            <hr />
            @*@Html.Action("PvPedido", "Pedidos")*@
        </div>
    </div>

    <!-- Endereços -->
    <div class="tab-pane" id="Endereco">
        <div class="panel panel-default">
            <h4>Meus Endereços</h4>
            <hr />
            @Html.ActionLink("Cadastrar novo", "Create", "Endereco", null, new { @class = "btn btn-primary", @target = "_blank" })
            <hr />
            @Html.Action("PvEnderecos", "Endereco")
        </div>
    </div>

    <!-- Cartões -->
    <div class="tab-pane" id="Cartoes">
        <div class="panel panel-default">
            <h4>Meus Cartões</h4>
            <hr />
            @Html.ActionLink("Cadastrar novo", "Create", "Cartao", null, new { @class = "btn btn-primary", @target = "_blank" })
            <hr />
            @Html.Action("PvCartoes", "Cartao")
        </div>
    </div>

    <!-- Cupons -->
    <div class="tab-pane" id="Cupons">
        <div class="panel panel-default">
            <h4>Meus Cupons</h4>
            <hr />
            @*@Html.Action("PvCupom", "Cupons")*@
        </div>
    </div>
</div>