@model DrinkIt.WebApp.Models.Carrinho

@using DrinkIt.WebApp.Models;

@{
    ViewBag.Title = "Meu carrinho";
    Dictionary<int, int> EstoqueBebidas = (Dictionary<int, int>)ViewBag.Estoque;
    string msgEstoque = ViewBag.MensagemHistorico;
    List<Notificacao> notificacoes = ViewBag.Notificacoes ?? new List<Notificacao>();
}

@if (notificacoes != null && notificacoes.Any())
{
    foreach (var item in notificacoes)
    {
        <br />
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close deletarNotificacao" data-id="@item.Id" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @item.Descricao
        </div>
    }
}

<h2>Meu carrinho</h2>

<hr />

@if (Model.Bebidas.Count > 0)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bebidas.FirstOrDefault().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebidas.FirstOrDefault().Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebidas.FirstOrDefault().Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebidas.FirstOrDefault().Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebidas.FirstOrDefault().Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebidas.FirstOrDefault().Sabor)
            </th>
            <th>Quantidade</th>
            <th>
                Estoque
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Bebidas)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Nome, "Details", "Bebidas", new { id = item.Id }, new { })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sabor)
                </td>
                <td>
                    @Html.TextBoxFor(model => item.Quantidade, new { @type = "number", @class = "form-control Quantidade", @style = "width: 80px;", @data_id = item.Id, @min = 1, @max = EstoqueBebidas[item.Id], @onkeydown = "return false", @data_value = item.ValorVenda })
                </td>
                <td>
                    @EstoqueBebidas[item.Id]
                </td>
                <td align="center">
                    @using (Html.BeginForm("RemoverBebidaSessao", "Carrinho", FormMethod.Post))
                    {
                        <input type="hidden" name="idBebida" value="@item.Id" />

                        <button type="submit" class="btn btn-danger">Remover</button>
                    }
                </td>
            </tr>
        }
    </table>

    <br />

    <dl class="dl-horizontal">
        <dt>Valor Total: </dt>
        <dd id="ddValorTotal"></dd>
    </dl>

    <hr />

    <label style="color:red">@msgEstoque</label>

    <div class="form-group" align="right">

        <div id="divPedidoSuficiente">
            @Html.ActionLink("Finalizar Pedido", "Checkout", "Pedidos", null, new { @class = "btn btn-success", @id = "btnFinalizarPedido" })
        </div>

        <div id="divPedidoInsuficiente">
            <button type="button" class="btn btn-warning" disabled>Finalizar Pedido</button><br />
            <label style="color:orange">O valor mínimo do pedido deve ser de R$10,00.</label>
        </div>


    </div>

}
else
{
    <h4>Seu carrinho está vazio!</h4>
}


@section Scripts{
    <script src="~/Scripts/Carrinho/Script_Carrinho.js"></script>
}