@model IEnumerable<DrinkIt.WebApp.Models.Telefone>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Tipo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@<label>?</label>
        </td>
    </tr>
}

</table>
