@model DrinkIt.WebApp.Models.Dashboard

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<div>
    <h5><strong>Pedidos no ano</strong></h5>
    <hr />
    <canvas id="pedidos" max-width="50" max-height="50"></canvas>

    <script charset="utf-8">

        var dataAlcoolico = [];
        @foreach (string name in Model.DataAlcoolico)
        {
            @:dataAlcoolico.push("@name");
        }

        var dataNaoAlcoolico = [];
        @foreach (string name in Model.DataNaoAlcoolico)
        {
            @:dataNaoAlcoolico .push("@name");
        }

        var alcoolicos = [];
        @foreach (int item in Model.ValoresAlcoolicos)
        {
            @:alcoolicos.push("@item");
        }


        var nAlcoolicos = [];
        @foreach (int item in Model.ValoresNaoAlcoolicos)
        {
            @:nAlcoolicos.push("@item");
        }

        var ctx = document.getElementById('pedidos').getContext('2d');
        var config = {
            type: 'line',
            data: {
                labels: dataNaoAlcoolico,
                datasets: [{
                    label: 'Alcoólicos',
                    backgroundColor: 'rgb(240, 128, 128)',
                    borderColor: 'rgb(240,128,128)',
                    fill: false,
                    data: alcoolicos,
                }, {
                    label: 'Não Alcoólicos',
                        backgroundColor: 'rgb(70,130,180)',
                        borderColor: 'rgb(70,130,180)',
                    fill: false,
                        data: nAlcoolicos,
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Quantidade de bebidas vendidas por período'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        var myChart = new Chart(ctx, config);
    </script>


</div>

<div>
    <h5><strong>Bebidas mais compradas</strong></h5>
    <hr />
    <canvas id="BebidasMaisCompradas" max-width="50" max-height="50"></canvas>

    <script>
        var ctx = document.getElementById('BebidasMaisCompradas');
        var config = {
            type: 'doughnut',
            data: {
                labels: ['@Model.Top1', '@Model.Top2', '@Model.Top3'],
                datasets: [{
                    label: 'Total',
                    data: [@Model.Qtd1, @Model.Qtd2, @Model.Qtd3],
                    backgroundColor: [
                        'rgba(4, 16, 215, 0.2)',
                        'rgba(250, 12, 23, 0.2)',
                        'rgba(44, 162, 135, 0.2)',
                    ],
                    borderColor: [
                        'rgba(4, 16, 215, 0.2)',
                        'rgba(250, 12, 23, 0.2)',
                        'rgba(44, 162, 135, 0.2)',
                    ],
                    borderWidth: 2
                }]
            },
        };
            var myChart = new Chart(ctx, config);
    </script>
</div>